body {
    font-family: "Avenir Next";
    margin: 0;
    padding: 0;
}

.header {
    background-color: #aedfe0;
    height: 90px;
    text-align: center;
}

.main {
    background-color: white;
    height: 600px;
}

.footer {
    background-color: #2f5167;
    height: 270px;
}

h1 {
    width: 700px;
    height: 40px;
    background-color: #70eeff;
}

img {
    width: 700px;
}